
body {
  box-sizing: border-box;
  margin:0;
  font-family: Trebuchet MS;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a.logo {
  font-weight: bold;
  float: left;
  font-size: 30px;
  padding: 6px 10px;
}

.navbar a {
  font-family: Courier New;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  padding: 14px 10px;
  text-decoration: none;

}

.navbar a:hover {
  color: skyblue;
}

.main {
  padding: 15px;
  margin-top: 30px;
}

.dblock {
  background-color: #333;
  text-align: center;
  float: left;
  width: 37%;
  padding: 1%;
  height: max-content;
  margin: 5%;
  overflow: hidden;
  min-width: 200px;
  /* display: inline-block; */
}

.rblock {
  background-color: #333;
  text-align: center;
  float: left;
  width: 37%;
  padding: 1%;
  height: max-content;
  margin: 5%;
  overflow: hidden;
}

.bblock {
  background-color: #333;
  text-align: center;
  width: 40%;
  padding: 3%;
  height: max-content;
  margin: auto;
  overflow: hidden;
  min-width: 200px;
  /* display: inline-block; */
}

.row {
  color: white;
  padding: 3%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 5%;
  margin-top: 10%;
  /* border: solid; */
  background: whitesmoke;
  /* display: flex; */
}

.row p {
  margin:auto;
  padding: 1%;
  font-size: 12px;
  text-align: center;
}

.row h1, h2{
  margin: auto;
  padding: 1%;
  font-size: 25px;
  text-align: center;
}

.row h2{
  margin: auto;
  padding: 3%;
  font-size: 15px;
}

.row a {
  font-family: Courier New;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  padding: 14px 10px;
  text-decoration: none;

}

.row a:hover {
  color: skyblue;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

img.ri {
  position: relative;
  max-width: 80%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: auto;
  margin-right: auto;
  z-index: -5;
}

.catbar {
  overflow: hidden;
  background-color: #333;
  position: static;
  /* top: 0; */
  width: 80%;
  top: 5%;
  margin: 10%;
}

.catbar a {
  font-family: Courier New;
  float: none;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  padding: 14px 10px;
  text-decoration: none;

}

.catbar a:hover {
  color: skyblue;
}

.button {
  /* border-radius: 4px; */
  background-color: #333;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
  align-self: center;
  display: block;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.button span:after {
  content: '\00bb';
  position: absolute;
  text-align: center;
  float: none;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: skyblue;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.bblock {
  background-color: #333;
  text-align: center;
  width: 40%;
  padding: 3%;
  height: max-content;
  margin: auto;
  overflow: hidden;
}

input {
  border: 0px;
  padding: 10px;
  width: 80%;
}

input:focus {
  background: skyblue;
}