{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
<div class="row">
<div class="bblock">
<h1> Rango says... </h1> 
<h2>here is the about page.</h2>
</div>

    <div class="bblock">
    This tutorial has been put together by Kenneth McClure </br>
    <!-- Visits: {{ visits }} -->
    </div>
</div>
    <img class="ri" src="{% static 'images/rango.jpg' %}"  alt="Picture of Darth Vader"/> <br/>
    <img class="ri" src="{{MEDIA_URL}}cat.jpg" />

{% endblock %}

