{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add Page
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="bblock">
                {% if category %}
        <h1>Add a Page to {{category.name}}</h1>
        </div>
            <form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div class="bblock">
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                </div>
                {% endfor %}
                <button class="button" type="submit" name="submit"><span>Create Page</span></button>
            </form>
                {% else %}
                    The specified category does not exist!
                {% endif%}
    </div>
{% endblock %}