{% extends 'rango/base.html' %} 
{% load staticfiles %} 
{% block title_block %} 
{{ category.name }} 
{% endblock %} 
{% block body_block %}
<div class="row">
    <div class="bblock">
        {% if category %}
        <h1>{{ category.name }}</h1>

        {% if pages %}
        <div class="bblock">
            {% for page in pages %}
            <a href="{{ page.url }}">{{ page.title }}</a>
            {% endfor %} {% else %}
            <strong>No pages currently in category.</strong>
            {% endif %} {% if user.is_authenticated %}
            <a href="{% url 'add_page' category.slug %}">Add a Page</a>
            {% endif %} {% else %} The specified category does not exist! {% endif %}
        </div>
    </div>
    {% endblock %}