{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<div class="row">
<div class="bblock">
<h1>
	Login to Rango
</h1>
<form id="login_form" method="post" action="{% url 'login' %}">
	{% csrf_token %}
	Username: <br/><input type="text" name="username" value="" size="50" />
	</div>
	<div class="bblock">
	Password: <br/><input type="password" name="password" value="" size="50" />
	</div>
	<button class="button" type="submit" value="submit" ><span>Sign In</span></button>
	</div>
</form>
{% endblock %}